/*
Title: Mega Menu
Version: 1.0
Author: Winthrop University Hospital
Author URI: http://www.winthrop.org
*/
body {
  padding-top: 100px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  -webkit-font-smoothing: antialiased;
}
.dropdown {
  display: inline;
  margin: 55px;
  position: relative;
  top: 8px;
}
.btn-menu {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 0;
  border-bottom: transparent;
  border-top: transparent;
  color: #ffffff;
  padding: 33px 20px;
  position: relative;
  bottom: 8px;
}
.btn-menu:after {
  content: 'Menu';
}
.dropdown-menu li {
  cursor: pointer;
}
.dropdown-menu #home {
  border-left: solid 4px #cccccc;
}
.dropdown-menu #home:hover,
.dropdown-menu #home:active,
.dropdown-menu #home:focus {
  border-left: solid 4px #cccccc;
}
.dropdown-menu #e-i {
  border-left: solid 4px #6e9948;
}
.dropdown-menu #e-i:hover,
.dropdown-menu #e-i:active,
.dropdown-menu #e-i:focus {
  border-left: solid 4px #6e9948;
}
.dropdown-menu #c-i {
  border-left: solid 4px #994848;
}
.dropdown-menu #c-i:hover,
.dropdown-menu #c-i:active,
.dropdown-menu #c-i:focus {
  border-left: solid 4px #994848;
}
.dropdown-menu #depts {
  border-left: solid 4px #2e663b;
}
.dropdown-menu #depts:hover,
.dropdown-menu #depts:active,
.dropdown-menu #depts:focus {
  border-left: solid 4px #2e663b;
}
.dropdown-menu #apps {
  border-left: solid 4px #99984b;
}
.dropdown-menu #apps:hover,
.dropdown-menu #apps:active,
.dropdown-menu #apps:focus {
  border-left: solid 4px #99984b;
}
.dropdown-menu #dir {
  border-left: solid 4px #4b9999;
}
.dropdown-menu #dir:hover,
.dropdown-menu #dir:active,
.dropdown-menu #dir:focus {
  border-left: solid 4px #4b9999;
}
.dropdown-menu .active {
  background-color: #f5f5f5;
}
.dropdown-menu li > a {
  margin: 8px 0;
  padding: 10px 20px;
}
.mega-menu {
  padding: 30px;
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  margin: auto;
}
.mega-menu li {
  width: 25%;
}
.mega-menu li .glyphicon-chevron-right {
  color: #bbbbbb;
  float: right;
  font-size: 10px;
  position: relative;
  top: 5px;
}
.mega-menu .menu-active {
  display: block !important;
}
.mega-menu .mega-menu-dropdown {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: none;
  list-style-type: none;
  margin-left: 23%;
  position: absolute;
  overflow: hidden;
  top: 0px;
}
.mega-menu .mega-menu-dropdown li {
  display: block;
  float: left;
  width: 50%;
}
.mega-menu .mega-menu-dropdown li a {
  background-color: transparent;
  border-left: none;
  color: #ffffff;
  line-height: 25px;
  font-weight: 500;
  padding: 8px 30px 8px 10px;
}
.mega-menu .mega-menu-dropdown li a:hover,
.mega-menu .mega-menu-dropdown li a:active,
.mega-menu .mega-menu-dropdown li a:focus {
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
.mega-menu .mega-menu-dropdown .header {
  color: #ffffff;
  float: left;
  font-size: 20px;
  margin-top: 14px;
  margin-bottom: -5px;
  width: 50% !important;
}
.mega-menu .mega-menu-dropdown .divider {
  float: left;
  width: 95% !important;
}
.mega-menu #employee-information {
  background-color: #6e9948;
  padding-bottom: 25px;
}
.mega-menu #clinical-information {
  background-color: #994848;
  padding-bottom: 75px;
}
.mega-menu #departments {
  background-color: #2e663b;
  padding-bottom: 25px;
}
.mega-menu #applications {
  background-color: #99984b;
  padding-bottom: 200px;
}
.mega-menu #directories {
  background-color: #4b9999;
  padding-right: 1px;
  padding-bottom: 250px;
}
@media (min-width: 1200px) {
  .dropdown .mega-menu {
    width: 1140px;
  }
  .dropdown .mega-menu .mega-menu-dropdown {
    width: 847px;
  }
}
@media (max-width: 1200px) {
  .dropdown .mega-menu {
    width: 940px;
  }
  .dropdown .mega-menu .mega-menu-dropdown {
    width: 693px;
  }
  .dropdown .mega-menu .mega-menu-dropdown li > a {
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  .navbar-fixed-top {
    height: 92px;
  }
  .navbar-form .form-group .search-form {
    width: 275px;
  }
  .dropdown .mega-menu {
    padding: 51px 15px;
    top: 91px;
    width: 720px;
  }
  .dropdown .mega-menu li > a {
    font-size: 12px;
    padding: 10px;
  }
  .dropdown .mega-menu .mega-menu-dropdown {
    margin-left: 24%;
    padding-bottom: 49px;
    width: 531px;
  }
  .dropdown .mega-menu #employee-information {
    padding-bottom: 49px;
  }
  .dropdown .mega-menu #clinical-information {
    padding-bottom: 99px;
  }
  .dropdown .mega-menu #departments {
    padding-bottom: 50px;
  }
  .dropdown .mega-menu #departments li {
    width: 36%;
  }
  .dropdown .mega-menu #departments li a {
    padding: 8px 7px 8px 5px;
  }
  .dropdown .mega-menu #departments .long {
    width: 64%;
  }
  .dropdown .mega-menu #applications {
    padding-bottom: 224px;
  }
  .dropdown .mega-menu #directories {
    padding-bottom: 274px;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 145px;
  }
  .navbar-fixed-top .dropdown {
    overflow-y: scroll;
  }
  .navbar-fixed-top .dropdown .btn-menu {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    float: right;
    margin: 15px 16px 8px 12px;
    padding: 6px 10px;
    position: relative;
    bottom: 100px;
    left: 15px;
  }
  .navbar-fixed-top .dropdown .mega-menu {
    padding: 5px;
    position: relative;
    top: -58px;
    width: 100%;
  }
  .navbar-fixed-top .dropdown .mega-menu li {
    width: 100%;
  }
  .navbar-fixed-top .dropdown .mega-menu .mega-menu-dropdown {
    margin-left: 0;
    position: relative;
    width: 100%;
  }
  .navbar-fixed-top .dropdown .mega-menu .mega-menu-dropdown .header,
  .navbar-fixed-top .dropdown .mega-menu .mega-menu-dropdown .divider {
    display: none;
  }
  .navbar-fixed-top .dropdown .mega-menu #employee-information,
  .navbar-fixed-top .dropdown .mega-menu #clinical-information,
  .navbar-fixed-top .dropdown .mega-menu #departments,
  .navbar-fixed-top .dropdown .mega-menu #applications,
  .navbar-fixed-top .dropdown .mega-menu #directories {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .hidden-mobile {
    display: none;
    visibility: hidden;
  }
}
@media (min-width: 767px) {
  .dropdown #employee-information {
    display: block !important;
  }
  .dropdown .hidden-desktop {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 570px) {
  .dropdown .mega-menu li {
    clear: both;
    float: none !important;
    width: 100% !important;
  }
}
.desktop-search {
  margin-top: 25px;
}
@media (max-width: 1200px) {
  .desktop-search {
    float: right;
    width: 300px;
  }
}
@media (max-width: 991px) {
  .desktop-search {
    margin-top: 0;
    position: relative;
    bottom: 60px;
  }
}
.navbar-fixed-top {
  background-color: #307ba0;
  border-bottom: #1f6588 solid 5px;
}
.navbar-fixed-top .navbar-header .logo {
  margin: 10px;
  width: 150px;
}
.navbar-collapse.in {
  overflow-y: visible;
}
