@media (min-width: 1200px){
  .navbar-fixed-top {
    .dropdown {
      .mega-menu {
        width: 1140px;
        .mega-menu-dropdown {
          width: 847px;
        }
      }
    }
  }
}

@media (max-width: 1200px){
  .navbar-fixed-top {
    .dropdown {
      .mega-menu {
        width: 940px;
        .mega-menu-dropdown {
          width: 693px;
          li > a {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px){
  .navbar-fixed-top {
      .navbar-form {
        .form-group {
          .search-form {
            width: 275px;
          }
        }
      }
    .dropdown {
      .mega-menu {
        padding: 51px 15px;
        width: 720px;

        li > a {
          font-size: 12px;
          padding: 10px;
        }

        .mega-menu-dropdown {
          margin-left: 25%;
          padding-bottom: 49px;
          width: 524px;
        }
        #employee-information {
          padding-bottom: 49px;
        }
        #clinical-information {
          padding-bottom: 99px;
        }
        #applications {
          padding-bottom: 224px;
        }
        #directories {
          padding-bottom: 274px;
        }
      }
    }
  }
}