@media (min-width: 1200px){
  .dropdown {
     .mega-menu {
       width: 1140px;
       .mega-menu-dropdown {
         width: 847px;
       }
     }
  }
}

@media (max-width: 1200px){
  .dropdown {
    .mega-menu {
      width: 940px;
      .mega-menu-dropdown {
        width: 693px;
        li > a {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 991px){
  .navbar-fixed-top {
    height: 92px;
  }
  .navbar-form {
    .form-group {
      .search-form {
        width: 275px;
      }
    }
  }
  .dropdown {
    .mega-menu {
      padding: 51px 15px;
      top: 91px;
      width: 720px;

      li > a {
        font-size: 12px;
        padding: 10px;
      }
      .mega-menu-dropdown {
        margin-left: 24%;
        padding-bottom: 49px;
        width: 531px;
      }
      #employee-information {
        padding-bottom: 49px;
      }
      #clinical-information {
        padding-bottom: 99px;
      }
      #departments {
        padding-bottom: 50px;
        li {
          width: 36%;
          a {
            padding: 8px 7px 8px 5px;
          }
        }
        .long {
          width: 64%;
        }
      }
      #applications {
        padding-bottom: 224px;
      }
      #directories {
        padding-bottom: 274px;
      }
    }
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 145px;
  }
  .navbar-fixed-top {

    .dropdown {
      overflow-y: scroll;
      .btn-menu {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        float: right;
        margin: 15px 16px 8px 12px;
        padding: 6px 10px;
        position: relative;
          bottom: 100px;
          left: 15px;
      }
      .mega-menu {
        padding: 5px;
        position: relative;
          top: -58px;
        width: 100%;

        li {
          width: 100%;
        }
        .mega-menu-dropdown {
          .header, .divider {
            display: none;
          }
          margin-left: 0;
          position: relative;
          width: 100%;
        }
        #employee-information, #clinical-information, #departments, #applications, #directories {
          display: none;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
  .hidden-mobile {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 767px){
  .dropdown {
    #employee-information {
      display: block !important;
    }
    .hidden-desktop {
      display: none;
      visibility: hidden;
    }
  }
}
@media (max-width: 570px) {
  .dropdown {
    .mega-menu {
      li {
        clear: both;
        float: none !important;
        width: 100% !important;
      }
    }
  }
}
