@media (min-width: 1200px){
  .navbar-fixed-top {
    .dropdown {
      .mega-menu {
        width: 1140px;
        .mega-menu-dropdown {
          width: 846px;
        }
      }
    }
  }
}

@media (max-width: 1200px){
  .navbar-fixed-top {
    .dropdown {
      .mega-menu {
        width: 940px;
      }
    }
  }
}