/*
Title: Mega Menu
Version: 1.0
Author: Winthrop University Hospital
Author URI: http://www.winthrop.org
*/
@import "body.less";
@import "dropdown";
@import "response.less";
@import "search.less";
@import "navbar-fixed-top.less";

@blue: #307ba0;
@dark-blue: #1f6588;
@gray: #cccccc;
@green: #6e9948;
@white: #ffffff;

@red: #994848;
@dark-green: #2E663B;
@yellow: #99984B;
@light-blue: #4B9999;


